<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>GTPowGuru | Home</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="One of the best Online Companies for Web or Mobile Development. Talented Web and Mobile Team."/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link rel="stylesheet" href="stylesheets/swipebox.css">
    <link href="stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!--animate-->
    <link href="stylesheets/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="javascripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <script src="javascripts/responsiveslides.min.js"></script>
    <!-- swipe box js -->
    <script src="javascripts/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".swipebox").swipebox();
        });
    </script>
    <!-- //swipe box js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="javascripts/move-top.js"></script>
    <script type="text/javascript" src="javascripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->

</head>
<body>
<!--banner-->
<div class="banner">
    <div class="container">
        <div class="header-nav">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand link link--yaku"
                           href="index.html"><span>G</span><span>T</span><span>P</span><span>o</span><span>w</span><span>G</span><span>u</span><span>r</span><span>u</span></a>
                    </h1>

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-1">
                        <ul class="nav navbar-nav ">
                            <li><a class="hvr-overline-from-left button2 active scroll" href="index.html">Home</a></li>
                            <li><a class="hvr-overline-from-left button2 scroll" href="#about">About</a></li>
                            <li><a class="hvr-overline-from-left button2 scroll" href="#team">Team</a></li>
                            <li><a class="hvr-overline-from-left button2 scroll" href="#services">Works</a></li>
                            <!--<li><a class="hvr-overline-from-left button2 scroll" href="#work">Services</a></li>-->
                            <li><a class="hvr-overline-from-left button2 scroll" href="#portfolio">Portfolio</a></li>
                            <li><a class="hvr-overline-from-left button2 scroll" href="#contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /navbar-collapse -->
            </nav>
        </div>
        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 4
                $("#slider3").responsiveSlides({
                    auto: true,
                    pager: false,
                    nav: false,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });
            });
        </script>
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="banner-info">
                        <h3>THE BEST <span>WEB & MOBILE Development</span></h3>

                        <p>for all startup companies</p>

                        <div class="clearfix"></div>
                        <div class="arrow text-center"><a class="scroll" href="#about"><img src="images/icon.png"
                                                                                            alt=" "/></a></div>
                    </div>
                </li>
                <li>
                    <div class="banner-info">
                        <h3>THE POWERFUL <span>WEB & MOBILE Solutions</span></h3>

                        <p>for all business</p>

                        <div class="clearfix"></div>
                        <div class="arrow text-center"><a class="scroll" href="#about"><img src="images/icon.png"
                                                                                            alt=" "/></a></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--//banner-->
<!-- about -->
<div id="about" class="about all_pad text-center">
    <div class="container">
        <h3 class="title">ABOUT US</h3>

        <p class="para">We`re one of <span>Online Company</span> specializing in<span> Graphic Design, Web Development</span> and <span>Mobile Development</span> for
            a Startup Business and existing Companies. Always ready for your work.</p>

        <div class="col-md-4 abt-grid">
            <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
                <a href="" class="hi-icon icon2"></a>
            </div>
            <h4>GOALS</h4>

            <p>Help each other and discussing in earnest(share the experience)</p>
        </div>
        <div class="col-md-4 abt-grid yes_marg">
            <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
                <a href="" class="hi-icon icon1"></a>
            </div>
            <h4>INDEPENDENCE</h4>

            <p>Each developers in our team are independent</p>
        </div>
        <div class="col-md-4 abt-grid">
            <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
                <a href="" class="hi-icon icon3"></a>
            </div>
            <h4>PROMOTION</h4>
                Our Goals is to promote the Development growth.
            <p></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //about -->

<!-- philosophy -->
<div class="philosophy all_pad text-center">
    <div class="container">
        <h3 class="title">OUR PHILOSOPHY IS</h3>

        <p class="para">Everyone in<span> Our Company</span> signed the policy of our company and doing the performance of our policy in consciousness</p>
    </div>
</div>
<!-- //philosophy -->

<!-- team -->
<div id="team" class="team all_pad text-center">
    <div class="container">
        <h3 class="title">OUR TEAM</h3>

        <p class="para">Accelerate Your Growth Online & Increase 'your Digital Marketing Returns</p>

        <div class="col-md-12" style="padding-bottom: 30px;">
            <div class="col-md-offset-4  col-md-4 about-poleft">
                <div class="about_img"><img src="images/team4.png" alt="">
                    <h5>Joel Lewis<span>CTO & Project Manager</span></h5>

                    <div class="about_opa">
                        <ul class="fb_icons2 text-center">
                            <li><a class="fb" href="#"></a></li>
                            <li><a class="twit" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 about-poleft">
                <div class="about_img"><img src="images/team5.jpg" alt="">
                    <h5>Bill Groff<span>Head of Tech</span></h5>

                    <div class="about_opa">
                        <ul class="fb_icons2 text-center">
                            <li><a class="fb" href="#"></a></li>
                            <li><a class="twit" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 about-poleft">
                <div class="about_img"><img src="images/team1.png" alt="">
                    <h5>Andrey Popov<span>Strong Back-end & Power Front-end</span></h5>

                    <div class="about_opa">
                        <ul class="fb_icons2 text-center">
                            <li><a class="fb" href="#"></a></li>
                            <li><a class="twit" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 about-poleft">
                <div class="about_img"><img src="images/team3.png">
                    <h5>Lucas Jensen<span>Django/Node Developer</span></h5>

                    <div class="about_opa">
                        <ul class="fb_icons2 text-center">
                            <li><a class="fb" href="#"></a></li>
                            <li><a class="twit" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 about-poleft">
                <div class="about_img"><img src="images/team2.png" alt="">
                    <h5>Richard Morin<span>Django/Rails/Node Developer</span></h5>

                    <div class="about_opa">
                        <ul class="fb_icons2 text-center">
                            <li><a class="fb" href=""></a></li>
                            <li><a class="twit" href=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //team -->
<!-- services -->
<div id="services" class="services all_pad text-center">
    <div class="container">
        <h3 class="title">WORK STEPS</h3>

        <p class="para">With custom web & mobile development services of <span>our company</span> you can get professional e-commerce web site, mobile app, social network site or any other IT product.</p>

        <div class="col-md-6 services-left">
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>

            <div class="head_ser"><h5>1</h5></div>
            <p><b>Infomation Gathering & Planning & Analyse</b></p>
        </div>
        <div class="col-md-6 services-right">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>

            <div class="head_ser"><h5>2</h5></div>
            <p><b>Design & Development</b></p>
        </div>
        <div class="col-md-6 services-left mar-top">
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>

            <div class="head_ser"><h5>3</h5></div>
            <p><b>Testing</b></p>
        </div>
        <div class="col-md-6 services-right mar-top">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>

            <div class="head_ser"><h5>4</h5></div>
            <p><b>Delivery & Final Testing</b></p>
        </div>
        <div class="clearfix"></div>
        <div class="ser-bottom">
            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>

            <div class="head_ser"><h5>5</h5></div>
            <p><b>Maintenance & Documentation</b></p>
        </div>
    </div>
</div>
<!-- //services -->
<!--&lt;!&ndash; work &ndash;&gt;-->
<!--<div id="work" class="work all_pad text-center">-->
    <!--<div class="container">-->
        <!--<h3 class="title">SERVICES</h3>-->

        <!--<p class="para">Duis aute irure dolor reprehenderit<span> in voluptate velit</span> esse cillum dolore eu-->
            <!--fugiat nulla pariatur. Excepteur sint occaecat.</p>-->

        <!--<div class="col-md-8 where-right">-->
            <!--<div class="wel-left">-->
                <!--<div class="work-left">-->
                    <!--<h4>01</h4>-->
                <!--</div>-->
                <!--<div class="work-right text-left">-->
                    <!--<h5>PROJECT UNDERSTANDING</h5>-->

                    <!--<p>Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu-->
                        <!--fugiat nulla pariatur. Excepteur sint occaecat.</p>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
            <!--</div>-->
            <!--<div class="wel-right ">-->
                <!--<div class="content-item item-image1">-->
                    <!--<div class="overlay"></div>-->
                    <!--<div class="corner-overlay-content"></div>-->
                    <!--<div class="overlay-content">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
        <!--</div>-->
        <!--<div class="clearfix"></div>-->
        <!--<div class="col-md-8 where-right no-marg">-->
            <!--<div class="wel-right2">-->
                <!--<div class="content-item item-image2">-->
                    <!--<div class="overlay"></div>-->
                    <!--<div class="corner-overlay-content"></div>-->
                    <!--<div class="overlay-content">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="wel-left2">-->
                <!--<div class="work-left">-->
                    <!--<h4>02</h4>-->
                <!--</div>-->
                <!--<div class="work-right text-left">-->
                    <!--<h5>RESEARCH & PLANNING</h5>-->

                    <!--<p>Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu-->
                        <!--fugiat nulla pariatur. Excepteur sint occaecat.</p>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
        <!--</div>-->
        <!--<div class="clearfix"></div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; //services &ndash;&gt;-->
<!-- portfolio -->
<div id="portfolio" class="portfolio all_pad text-center">
    <div class="container">
        <h3 class="title">PORTFOLIO</h3>

        <div class="filtr-container ">
            <div class=" col-md-6 filtr-item baner-top" data-category="1, 5" data-sort="Busy streets">
                <a href="images/crowdr.tv.png" class="b-link-stripe b-animate-go  swipebox">
                    <div class="gal-spin-effect vertical ">
                        <img src="images/crowdr.tv.png" alt=" "/>

                        <div class="gal-text-box">
                            <div class="info-gal-con">
                                <h4>crowdr.tv - Live crowdfunding</h4>
                                <span class="divider"></span>

                                <p>The purpose of crowdr.tv is to provide a broadcast platform that encourages meaningful dialogue and trust, while also funding projects that make the world a better pace. Crowdfunding should be a live and interactive experience.</p>
                                <span class="divider"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 filtr-item baner-top" data-category="2, 5" data-sort="Luminous night">
                <a href="images/jewelbots.png" class="b-link-stripe b-animate-go  swipebox">
                    <div class="gal-spin-effect vertical ">
                        <img src="images/jewelbots.png" alt=" "/>

                        <div class="gal-text-box">
                            <div class="info-gal-con">
                                <h4>jewelbots.com</h4>
                                <span class="divider"></span>

                                <p>The friendship bracelet that teaches kids to code - Jewelbots are also open source, so for the curious tinkerer, they offer the perfect platform to explore what is possible with wearable technology communication. Using the Arduino IDE, girls can literally make the bracelets do whatever they dream up. Light up when they get a call on their phone, why not? </p>
                                <span class="divider"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 filtr-item baner-top ban-mar" data-category="3, 4" data-sort="Industrial site">
                <a href="images/coolestimator.png" class="b-link-stripe b-animate-go  swipebox">
                    <div class="gal-spin-effect vertical ">
                        <img src="images/coolestimator.png" alt=" "/>

                        <div class="gal-text-box">
                            <div class="info-gal-con">
                                <h4>CoolEstimator</h4>
                                <span class="divider"></span>

                                <p>Estimate/Invoice Management System - CommercialRoofMate Comapny</p>
                                <span class="divider"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 filtr-item baner-top ban-mar" data-category="2, 4" data-sort="Peaceful lake">
                <a href="images/housemaster.png" class="b-link-stripe b-animate-go  swipebox">
                    <div class="gal-spin-effect vertical ">
                        <img src="images/housemaster.png" alt=" "/>

                        <div class="gal-text-box">
                            <div class="info-gal-con">
                                <h4>housemaster.com</h4>
                                <span class="divider"></span>

                                <p>They says giving them the confidence and knowledge to find their dream home</p>
                                <span class="divider"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4  filtr-item baner-top ban-mar" data-category="1, 5" data-sort="City lights">
                <a href="images/crycen.png" class="b-link-stripe b-animate-go  swipebox">
                    <div class="gal-spin-effect vertical ">
                        <img src="images/crycen.png" alt=" "/>

                        <div class="gal-text-box">
                            <div class="info-gal-con">
                                <h4>crycen.com</h4>
                                <span class="divider"></span>

                                <p>For Crypto Currency and block chain technology</p>
                                <span class="divider"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 filtr-item baner-top" data-category="1, 4" data-sort="City wonders">
                <a href="images/rewio.png" class="b-link-stripe b-animate-go  swipebox">
                    <div class="gal-spin-effect vertical ">
                        <img src="images/rewio.png" alt=" "/>

                        <div class="gal-text-box">
                            <div class="info-gal-con">
                                <h4>rew.io - Business Directory</h4>
                                <span class="divider"></span>

                                <p>This Business Directory platform what provides the best service to the consumers.</p>
                                <span class="divider"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-md-6 filtr-item baner-top" data-category="3" data-sort="In production">
                <a href="images/spetsialist.png" class="b-link-stripe b-animate-go  swipebox">
                    <div class="gal-spin-effect vertical ">
                        <img src="images/spetsialist.png" alt=" "/>

                        <div class="gal-text-box">
                            <div class="info-gal-con">
                                <h4>spetsialist.delfi.ee - Job Site</h4>
                                <span class="divider"></span>

                                <p>This is online job platform which connect between job provider and seekers.</p>
                                <span class="divider"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="clearfix"></div>

        </div>
    </div>
</div>
<!-- //portfolio -->
<!-- contact -->
<div id="contact" class="contact">
    <div class="col-md-4 contact_left text-center">
        <ul>
            <li><a class="fb" href=""></a></li>
            <li><a class="twit" href=""></a></li>
            <li><a class="goog" href=""></a></li>
            <li><a class="drib" href=""></a></li>
            <li><a class="pin" href=""></a></li>
        </ul>
    </div>
    <div class="col-md-8 contact_right text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2482.432383990807!2d0.028213999961443994!3d51.52362882484525!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1423469959819"
                style="border:0"></iframe>
        <div class="map">
            <h3 class="title">CONTACT</h3>

            <p class="para">Directly in touch with <span> Email or Skype</span></p>
            <ul class="contact-list text-left">
                <li>Online</li>
                <li><a href="mailto:gt.powguru@gmail.com">gt.powguru@gmail.com</a></li>
                <li><b>Skype: pow.guru</b></li>
                <li>Reply in 30 mins</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //contact -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <form action="#" method="post">
            <div class="col-md-6 footer-left">
                <input type="text" value="Name" name="Name" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Name';}" required="">
                <input type="email" value="Email" name="Email" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <input type="text" value="Mobile Number" name="Mobile Number" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Mobile Number';}" required="">
            </div>
            <div class="col-md-6 footer-right">
                <textarea name="Message..." onfocus="this.value = '';"
                          onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                <input type="submit" value="Submit Now">
            </div>
            <div class="clearfix"></div>

        </form>
        <p class="copy-rights">&copy; 2015 GTPowGuru. All Rights Reserved | Design by Andrey Popov</a></p>

    </div>
</div>
<!-- //footer -->
<script type="text/javascript" src="javascripts/bootstrap-3.1.1.min.js"></script>
<!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->

</body>
</html>